# PostgreSQL credentials and database
POSTGRES_USER=postgres                 # Username for PostgreSQL
POSTGRES_PASSWORD=postgres             # Password for PostgreSQL
POSTGRES_DB=database                   # Default database name for PostgreSQL

# pgAdmin credentials
PGADMIN_DEFAULT_EMAIL=admin@admin.com  # Default email for pgAdmin login
PGADMIN_DEFAULT_PASSWORD=admin         # Default password for pgAdmin login

# .NET API Environment Variables
POSTGRES_CONNECTION_STRING=Host=host.docker.internal;Port=5433;Database=semester-db;Username=postgres;Password=postgres
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:7124