DefaultConnectionString=Host=SEE_README;Port=POSTGRES_PORT_HERE;Database=DATABASE_NAME_HERE;Username=DATABASE_USERNAME_HERE;Password=DATABASE_PASSWORD_HERE
AllowedOrigins=http://localhost:3000,http://localhost:3001